@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

:root {
    --font-family-body: Lato, sans-serif;
    --font-family-heading: Oswald, sans-serif;
    --mine-shaft-light: #3a3a3a;
    --mine-shaft-dark: #252525;
    --standard-size: 75px;
    --letter-spacing: 4px;
    --standard-margin: 15px;
    --standard-padding: 15px;
    --dark-border: 1px solid var(--mine-shaft-light);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: var(--font-family-body);
    font-weight: 300;
    color: var(--mine-shaft-light);
}

/* headings and logo */
h1,
h2 {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    color:  var(--mine-shaft-dark);
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: var(--letter-spacing);
    float: right;
}

#menu,
#logo {
    line-height: var(--standard-size);
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: calc(var(--standard-margin) * 2);
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: var(--dark-border);
}

.active {
    border-bottom: var(--dark-border);
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animate zoom effect on loading page */
    animation: hero-zoom 5s forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
