@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

:root {
    --font-family-body: Lato, sans-serif;
    --font-family-heading: Oswald, sans-serif;
    --mine-shaft-light: #3a3a3a;
    --mine-shaft-dark: #252525;
    --standard-size: 75px;
    --letter-spacing: 4px;
    --standard-margin: 15px;
    --standard-padding: 10px;
    --dark-border: 1px solid var(--mine-shaft-light);
    --section-height: 600px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: var(--font-family-body);
    font-weight: 300;
    color: var(--mine-shaft-light);
}

/* headings and logo */
h1,
h2 {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    color:  var(--mine-shaft-dark);
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: calc(var(--standard-margin) * 2);
}

#menu {
    font-size: 110%;
    letter-spacing: var(--letter-spacing);
    float: right;
}

#menu,
#logo {
    line-height: var(--standard-size);
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: calc(var(--standard-margin) * 2);
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: var(--dark-border);
}

.active {
    border-bottom: var(--dark-border);
}

/* hero image */
#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-outer {
    height: var(--section-height);
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: var(--section-height);
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animate zoom effect on loading page */
    animation: hero-zoom 5s forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    width: 300px;
    height: 200px;
    padding-top: calc(var(--standard-padding) * 4);
    padding-left: var(--standard-padding);
    background-color: hsla(1, 83%, 68%, 0.7);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* club ethos */
#club-ethos {
    height: var(--section-height);
}

#left-about,
#right-about,
#center-about {
    width: calc(100% / 3);
}

#left-about,
#right-about {
    padding-top: calc(var(--standard-padding) * 2);
}

#left-about {
    float: left;
}

#right-about {
    float: right;
}

#center-about {
    margin: 0 auto;
}

hr {
    border-top: var(--dark-border);
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}