@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

:root {
    --font-family-body: Lato, sans-serif;
    --font-family-heading: Oswald, sans-serif;
    --mine-shaft-light: #3a3a3a;
    --mine-shaft-dark: #252525;
    --offwhite: #fafafa;
    --white: #fff;
    --standard-size: 75px;
    --letter-spacing: 4px;
    --standard-margin: 10px;
    --standard-padding: 10px;
    --dark-border: 1px solid var(--mine-shaft-light);
    --section-height: 600px;
    --background-overlay: rgba(0, 0, 0, .6);
    --box-border: 2px solid var(--white);
    --circle-radius: 50%;
    --light-grey: #ccc;
    --standard-dimension: 100px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: var(--font-family-body);
    font-weight: 300;
    color: var(--mine-shaft-light);
}

/* headings and logo */
h1,
h2 {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    color: var(--mine-shaft-dark);
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: calc(var(--standard-margin) * 3);
}

#menu {
    font-size: 110%;
    letter-spacing: var(--letter-spacing);
    float: right;
}

#menu,
#logo {
    line-height: var(--standard-size);
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: calc(var(--standard-margin) * 3);
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: var(--dark-border);
}

.active {
    border-bottom: var(--dark-border);
}

/* hero image */
#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-outer {
    height: var(--section-height);
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: var(--section-height);
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animate zoom effect on loading page */
    animation: hero-zoom 5s forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    width: 300px;
    height: 200px;
    padding-top: calc(var(--standard-padding) * 4);
    padding-left: var(--standard-padding);
    background-color: hsla(1, 83%, 68%, 0.7);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* club ethos */
#club-ethos {
    height: var(--section-height);
}

#left-about,
#right-about,
#center-about {
    width: calc(100% / 3);
}

#left-about,
#right-about {
    padding-top: calc(var(--standard-padding) * 2);
}

#left-about {
    float: left;
}

#right-about {
    float: right;
}

#center-about {
    margin: 0 auto;
}

hr {
    border-top: var(--dark-border);
    width: 100%;
    margin: calc(var(--standard-margin) / 2) 0;
}

.left-about-heading,
.right-about-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: calc(var(--standard-margin) * 5);
}

.left-about-heading {
    float: right;
}

.right-about-heading {
    float: left;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading {
    text-align: right;
}

#welcome {
    text-align: center;
    margin-top: 20px;
    font-size: 250%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: var(--circle-radius);
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: var(--circle-radius);
}

/* event times */
#times {
    background: url('../images/dublin-city.webp') no-repeat center center / cover;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: var(--offwhite);
    background-color: var(--background-overlay);
    width: calc(100% / 5);
    height: 300px;
    float: left;
    padding: calc(var(--standard-padding) * 3) 0 0 var(--standard-padding);
    text-align: center;
    border: var(--box-border);
    box-sizing: border-box;
    /* include border width */
}

#times h2 {
    color: var(--offwhite);
}

/* footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: var(--mine-shaft-light);
}

/* gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
}

#photos > img {
    width: 100%;
    margin-bottom: 2px;
}

/* Media queries */

/* for larger to medium screens from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}